// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$prevention-project-primary: mat-palette($mat-indigo);
$prevention-project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$prevention-project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$prevention-project-theme: mat-light-theme(
  $prevention-project-primary,
  $prevention-project-accent,
  $prevention-project-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($prevention-project-theme);

/* You can add global styles to this file, and also import other style files */
@import 'mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', Helvetica, Arial, 'メイリオ',
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.main-btn {
  font-size: 14px;
  border: transparent;
  outline: none;
  min-width: 200px;
  padding: 12px 16px;
  line-height: 2;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to top, #009a42, #00a399);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  &--small {
    font-size: 12px;
    padding: 14px;
    min-width: fit-content;
    line-height: 1.5;
  }
}

.sub-btn {
  font-size: 14px;
  border: transparent;
  outline: none;
  min-width: 200px;
  padding: 12px 16px;
  line-height: 2;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(90deg, #ffa353, #ffdf2e);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  &--small {
    font-size: 12px;
    padding: 14px;
    min-width: fit-content;
    line-height: 1.5;
  }
}
